# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: install dependencies
        run: |
  # sudo apt install -y make cmake ffmpeg
#         echo "$PATH"
#         echo "$HOME"
#         pwd
#         wget -O miniconda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh bash -b -p miniconda.sh
#         bash && conda env create -f tfrl-cookbook.yml -n "tfrl-cookbook"
#         conda init bash
#         exec bash
#           conda activate tfrl-cookbook
#           python -m pip install jupytext 
#           for fname in `find . -name "[0-9]*.py"`;do jupytext --set-formats ipynb,py --execute $fname; done;
#           for fname in `find . -name "[0-9]*.ipynb"`;do jupyter nbconvert $fname --to markdown; done;

      #python -m ipykernel install --user --name=tfrl-cookbook
          
        #jupyter notebook ipykernel pygments==2.4.1
      #
      - name: name a kernel to perform the actions
        run: |
          echo "hallo"
          conda init bash
          exec bash
          conda activate tfrl-cookbook && python -m pip install jupytext
          echo "hallo"
          bash && for fname in `find . -name "[0-9]*.py"`;do jupytext --set-formats ipynb,py --execute $fname; done; && for fname in `find . -name "[0-9]*.ipynb"`;do jupyter nbconvert $fname --to markdown; done;
          import jupytext
          echo "hallo"

          
          
      - name: create .ipynb and .md files
        run: |
#         for fname in `find . -name "[0-9]*.py"`;do jupytext --set-formats ipynb,py --execute $fname; done;
#         for fname in `find . -name "[0-9]*.ipynb"`;do jupyter nbconvert $fname --to markdown; done;

  
